/* Global styles */



html {
    scroll-behavior: smooth;
}

hr{
        color: #ff00e1;

}


footer {
    background-color:#0b001f;
    height: auto;
    text-align: center;
    padding: 1vw;
    color: #36e5ae;
}

main {
    padding-top: calc(var(--header-height) + 1rem);
    scroll-margin-top: var(--header-height);
    background-color: #0b001f;
    height: auto;
    width: auto;  
    font-size: 1.1rem;

}

 



/* Top Navigation bar styles */

:root {
    --header-height: 55px; 
}


header {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    height: var(--header-height);
    background-color: #0b001f;
}

 #main-header {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

#main-header.nav-hidden {
  transform: translateY(-100%);
 }

.topnav {
  height: 100%; 
  width: 100%;
  display: flex;
  align-items: center; 
  transition: 0.4s;
}

.topnav a {
    color: #61c2a3;
    text-align: center;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.topnav .logo {
    margin-left: 1vw;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border-style: solid;
    border-color: #581998;
    align-self: center;
}

.social-tab {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.social-tab a {
    margin-left: 10px;
}

.topnav a:hover:not(.icon) {
    color: #d126bd;
}

.topnav a.active {
     color: #d126bd;

    background-color: #61c2a3;
}

.topnav .icon {
    display: none;
}



#highlighted-word{
    color: #36e5ae;
}

#split-nav-container {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: start;
}

#split-nav {
    position: sticky; 
    top: calc(var(--header-height) + 1rem); 

    padding: 2rem 0rem 2rem 10rem;
    box-sizing: border-box;
}

#split-nav-content {
    padding: 4rem 5rem 5rem 10rem;
    color: #f2f2f2;
}


#split-nav-content section {
    scroll-margin-top: calc(var(--header-height) + 1rem);
    margin-bottom: 20vh;
    min-height: 50vh; 
}

.scroll-section ul{
    list-style-type: none;
    padding: 0;
}

.scroll-section li{
    padding: 0.5rem 0 0.5rem 0;
}


#split-nav-text {
    color: #f2f2f2;
}

#split-nav-title {
    font-size: 4.5rem;
    font-weight: 700;
}

#split-nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    width: 50%;
}

#split-nav-links a,
#split-nav-links a.active { 
    text-decoration: none;
    font-size: 1.5rem;
    color: #61c2a3;
    transition: all 0.3s ease-in-out; 
}

#split-nav-links a:hover,
#split-nav-links a.active {
    font-size: 2rem;
    color: #d126bd;
}

#split-nav-links a:hover::before,
#split-nav-links a.active::before {
    content: ".";
    margin-right: 5px;
}

#split-nav-links a:hover::after,
#split-nav-links a.active::after {
    content: "()";
    margin-left: 5px;
}

#split-nav-socials{
    margin-top: 20vh;
}

#split-nav-socials a{
    margin-left: 10px;
}

.about{
    padding-left: 2rem;
}






.contact-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items:center;
    justify-content:end;
    flex-direction: row;
}

.contact-title h2 {
    font-size: 4rem;
    color: #f2f2f2;
}

.contactform {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1.5vh;
    align-items: center;
    padding: 5% 10% 5% 5%;
}

.contact-inputs {
    height: auto;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 1vw;
    text-align: center;
    padding: 0.5rem;
}

#contact_textarea {
    height: 20vh;
    width: 75%;
}


#project-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    


}

#project-container:hover{
    background-color:#1a0e36;
    cursor: pointer;    
     border-style: solid;
    border-color: #36e5ae;
    border-width: 2px;
    border-radius: 8px; 
     transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(180, 160, 255, 0.15), 
                0 0 8px rgba(220, 200, 255, 0.2);   
}


#project-container:hover #project-title{
    color: #d126bd;
    transition: color 0.3s ease-in-out;
}

#project-container:hover img{
    border-style: solid;
    border-radius: 8px;
    border-color:#69988893;
    border-width: 1px;
}


#project-details{
    padding: 2rem;
    width: 60%;
}

#project-image-container{
    padding: 2rem;
    width: 40%;
     
}


#project-image-container img{
 height: 300px;
 width: 100%;
}

#project-tool{
    color: #36e5ae;
    padding: 0.5rem;
  display: inline-block;
  margin: 3px 3px 3px 0; 

}

#about{
    padding-left: 2rem;
}





/* Media Queries and Animations */

@media screen and (max-width: 950px) {
   
    .topnav > .social-tab {
        display: flex;       
        justify-content: center; 
    }

    .topnav > .social-tab p { 
        display: none;
    }

    .topnav > a:not(.icon),
    .topnav > .dropdown {
        display: none;
    }

    .topnav > a.icon {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .topnav.responsive {
        flex-direction: column;
        align-items: flex-start;
    }

    .topnav.responsive a.icon { 
        position: absolute;
        right: 0;
        top: 0;   
        margin-left: 0;
    }

    .topnav.responsive > a:not(.icon){
        display: block;
        width: 100%;
        text-align: center;
    }

    .topnav.responsive > a:not(.active , .icon){
        background-color:#0b001f;

    }

    .topnav.responsive > .social-tab {
        display: none;
    }

 

    .topnav.responsive > .logo {
        display: block;
        margin-bottom: 10px; 
    }


    #split-nav-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    #split-nav {
        position: static; 
        width: 90%;      
        padding: 2rem;  
    }
    
    #split-nav-text h1{
        font-size: 3rem; 
    }

    
    #split-nav-links, #split-nav-socials {
       display: none;
    }

    #split-nav-content {
        margin-left: 0;  
        width: 100%;      
        padding: 2rem;    
    }
}

body::before {
    content: '';
    position: fixed;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 60rem;
    height: 60rem;
    background: radial-gradient(circle, #2b01794a 0%, rgba(209, 38, 189, 0) 70%);
    border-radius: 50%;
    pointer-events: none;
}


/* Social Icons */

.fa,
.fa-brands {
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: #61c2a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa:hover,
.fa-brands:hover {
    opacity: 0.7;
    color: #d126bd;
}

.fa-x-twitter,
.fa-github,
.fa-linkedin,
.fa-envelope,
.fa-bars {
    background-color: #1b1542;
}
