{% extends "base.html" %}

{% block title %} Asset Organiser v.1 {% endblock %}

{% block content %}
<div class="split-layout-container">


    <div class="video-column">
       <div id="preview-viewer" ondblclick="openModalForCurrent()">
            </div>

        <div class="on-video-gallery">
            <img class="thumbnail-img" src="static/images/asset-organiser-main.jpg" onclick="updatePreview(1)" alt="Mech-occult gameplay">
           
        </div>

        <div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">


      <div class="mySlides">
      <div class="numbertext">1 / 1</div>
      <video controls autoplay style="width:100%; max-height: 80vh; display: block;">
        <source src="static/videos/asset-organiser-demovid.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="text">Mech-occult gameplay</div>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>        
    </div>
    <div id= "content-links">
  <span id=><a id="highlighted-word" href="https://github.com/mnmfullmetal/AssetOrganiser_v1">View On Github</a></span>
  <span id=><a id="highlighted-word" href="https://github.com/mnmfullmetal/AssetOrganiser_v1">View README</a></span>
 </div>



 </div>

    <div class="text-column">
        <h1 id="project-title">Unity Asset Organiser v.1</h1>
        <hr>
       <p><span id="highlighted-word"> <strong>Role:</strong></span> Solo Developer</p>

       <p><span id="highlighted-word"> <strong>Description: </strong></span> To address the common challenge of maintaining a clean and scalable project structure in Unity, I independently designed and developed Asset Organiser v.1. This custom editor tool eliminates manual asset sorting, prevents project entropy, and allows development teams to focus on creating, not cleaning. The tool is currently in active development, with new features and refinements planned for future releases.</p>
         <ul>
          <li><span id="highlighted-word"> <strong>Customisable Folder Structures: </strong></span> Users can visually define their ideal project folder hierarchy directly within the editor window (Window > AssetOrganiserEditor).</li>
          <li><span id="highlighted-word"> <strong>Extension-to-Folder Mapping: </strong> </span> Precisely map any file extension (.png, .fbx, .cs, .mat, etc.) to a target folder, ensuring every asset type has a home.</li>
          <li><span id="highlighted-word"> <strong>Reusable Presets: </strong></span>Save and load complete organisational structures as preset files, allowing for consistency across multiple projects and teams. Includes a pre-built "Default" preset based on Unity's best practices.</li>
          <li><span id="highlighted-word"> <strong>Automated Sorting Engine: </strong></span>The core of the tool automatically monitors the project for new or modified assets and moves them to their assigned folders in real-time, requiring no ongoing effort from the user.</li>

         </ul>
         <p>As the sole creator of this tool, I was responsible for the entire development lifecycle, from conceptualisation and UI design to the core C# scripting and implementation of Unity's asset database APIs. I continue to iterate on this project to enhance its capabilities.</p>
    </div>

</div>

{% endblock %}

