{% extends "base.html"%}

{% block title %} Myles Gillard {% endblock %}

{% block content %}
      <div class="content-container" id="home-content-container">
        <div class="content-left">
          <div>
            <h1>Myles Gillard</h1>
            <p>Video Game & Software Developer</p>
          </div>
          <hr>
          <div id="home-content-buttons">
            <button>About</button>
            <button>Projects</button>
            <button>Resume</button>
          </div>
          <div id="home-social-icons">
            <a href="https://github.com/mnmfullmetal" class="fa-brands fa-github"></a>
            <a
              href="https://linkedin.com/in/mylesgillard"
              class="fa-brands fa-linkedin"
            ></a>
            <a href="contact" class="fa-brands fa-x-twitter"></a>
            <a href="contact" class="fa fa-envelope"></a>
          </div>
        </div>
        <div class="content-right">
          <p>Right content</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsa
            dolor quas laudantium enim consequatur odio porro corporis at
            veritatis! Alias consequuntur facilis adipisci! Tenetur soluta vero
            harum fugiat quis?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
            voluptates quae earum magnam nisi eos sapiente iusto maiores
            doloribus, dignissimos, in ipsum nobis distinctio aliquid ad officia
            laborum atque inventore.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus
            pariatur et eveniet cum voluptatem? Voluptatem dolores deleniti
            sequi fuga quisquam odio expedita enim sit dolorem! Ducimus alias
            dolor aspernatur exercitationem saepe doloremque laudantium dolores,
            error quidem sunt quia veritatis dicta ut aperiam, aliquid iure ipsa
            debitis accusantium facilis delectus deleniti rem. Enim minima
            doloribus doloremque possimus sed maxime fugit praesentium, quasi
            totam, voluptatibus earum temporibus. Rem animi libero atque,
            quaerat repellendus, hic nulla ducimus, numquam in voluptas odio?
            Praesentium placeat ad incidunt dolorem a expedita. Voluptatum earum
            nam possimus quia, veritatis corporis cum rem non ab! Quaerat earum
            nostrum mollitia?
          </p>
        </div>
      </div>
       <div class='contact-container'>
        <form action="https://api.web3forms.com/submit" method="POST" class='contactform'>
           <div class='contact-title'>
             <h2>Get in touch</h2>
             <hr>
           </div>
            <input type="hidden" name="access_key" value="f1d355ac-dcfc-4edd-a27a-cbc42520bda1">
            <input type='text' name='name' placeholder="Your Name" class='contact-inputs' required>
            <input type='email' name='email' placeholder="Your Email" class='contact-inputs' required>
            <textarea name='message' placeholder="Your Message" class='contact-inputs' id="contact_textarea" required></textarea>
            <button type='submit'>Submit</button>
        </form>
      </div>
{% endblock %}

