{% extends "base.html" %}

{% block title %} Mech-Occult {% endblock %}

{% block content %}
<div></div>
<div id="project-header">
    <h1 id="project-title">Mech-Occult</h1>
    <p>Abandoned by your human masters and left with the impossible task of containing the unknown horrors spilling in from the void, it is now up to you, the last "Cleaner Droid", to save the world. Mech-Occult is an Isometric arena shooter that takes place in a secret military base, through which the player must battle waves of enemies in order to survive and close the containment breach before all hope is lost.</p>
    <p>This is a solo project I have been working on and is still currently under development. Developing this has been a joy and while I have many mechanics, features, and overall visuals to implement still, I have the demo available to <span>PLAY HERE</span></p>
</div>

{% endblock %}