{% extends "base.html" %}

{% block title %} Mystic Matches {% endblock %}

{% block content %}


<div class="split-layout-container">

    <div class="video-column">
       <div id="preview-viewer" ondblclick="openModalForCurrent()">
            </div>

        <div class="on-video-gallery">
            <img class="thumbnail-img" src="static/images/mystic-matches-gameplayscreenshot.jpg" onclick="updatePreview(1)" alt="Mystic Matches gameplay">
            <img class="thumbnail-img" src="static/images/mystic-matches-rules.jpg" onclick="updatePreview(2)" alt="Mystic Matches Rules">
            <img class="thumbnail-img" src="static/images/mystic-matches-cardeffect2.jpg" onclick="updatePreview(3)" alt="Illusion card effect made with Shader Graph">
            <img class="thumbnail-img" src="static/images/mystic-matches-cardeffectscreenshot.jpg" onclick="updatePreview(4)" alt="Materialised card effect made with VFX Graph">
            <img class="thumbnail-img" src="static/images/mystic-matches-orbeffectscreenshot.jpg" onclick="updatePreview(5)" alt="Mystic Orb effect made with VFX Graph">
            <img class="thumbnail-img" src="static/images/mystic-matches-impacteffectscreenshot.jpg" onclick="updatePreview(6)" alt="Impact effect made with Unity particle systems">
            <img class="thumbnail-img" src="static/images/mystic-matches-portaleffectscreenshot.jpg" onclick="updatePreview(7)" alt="Portal effect made with Unity particle systems">
            <img class="thumbnail-img" src="static/images/mystic-matches-flying.jpg" onclick="updatePreview(8)" alt="Mystic Matches gameplay - card flying effect">
            <img class="thumbnail-img" src="static/images/mystic-matches-match.jpg" onclick="updatePreview(9)" alt="Mystic Matches gameplay - match effect">
            <img class="thumbnail-img" src="static/images/mystic-matches-select.jpg" onclick="updatePreview(10)" alt="Mystic Matches gameplay - select effect">
      
            
         
        </div>

        <div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    


      <div class="mySlides">
      <div class="numbertext">1 / 10</div>
      <video controls autoplay muted style="width:100%; max-height: 80vh; display: block;">
        <source src="static/videos/mystic-matches-gameplay.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="text">Mystic Matches gameplay</div>
    </div>

     <div class="mySlides">
      <div class="numbertext">2 / 10</div>
      <img src="static/images/mystic-matches-rules.jpg" style="width:100%">
      <div class="text">Mystic Matches rules</div>
    </div>




    <div class="mySlides">
      <div class="numbertext">3 / 10</div>
      <video controls autoplay loop style="width:100%; max-height: 80vh; display: block;">
        <source src="static/videos/mystic-matches-cardeffect.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="text">Illusion card effect made with Shader Graph</div>
    </div>

    


    <div class="mySlides">
      <div class="numbertext">4 / 10</div>
      <video controls autoplay loop style="width:100%; max-height: 80vh; display: block;">
        <source src="static/videos/mystic-matches-cardeffect2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="text">Materialised card effect made with VFX Graph</div>
    </div>


    <div class="mySlides">
      <div class="numbertext">5 / 10</div>
      <video controls autoplay loop style="width:100%; max-height: 80vh; display: block;">
        <source src="static/videos/mystic-matches-orbeffect.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="text">Mystic Orb effect made with VFX Graph</div>
    </div>


     

    <div class="mySlides">
      <div class="numbertext">6 / 10</div>
      <video controls autoplay loop style="width:100%; max-height: 80vh; display: block;">
        <source src="static/videos/mystic-matches-impacteffect.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="text">Impact effect made with Unity particle systems</div>
    </div>

    <div class="mySlides">
      <div class="numbertext">7 / 10</div>
      <video controls autoplay loop style="width:100%; max-height: 80vh; display: block;">
        <source src="static/videos/mystic-matches-portaleffect.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="text">Portal effect made with Unity particle systems</div>
    </div>



      <div class="mySlides">
      <div class="numbertext">8 / 10</div>
      <img src="static/images/mystic-matches-flying.jpg" style="width:100%">
      <div class="text">Mystic Matches gameplay - card flying effect</div>
    </div>

    

      <div class="mySlides">
      <div class="numbertext">9 / 10</div>
      <img src="static/images/mystic-matches-match.jpg" style="width:100%">
      <div class="text">Mystic Matches gameplay - match effect</div>
    </div>


    

     
    <div class="mySlides">
      <div class="numbertext">10 / 10</div>
      <img src="static/images/mystic-matches-select.jpg" style="width:100%">
      <div class="text">Mystic Matches gameplay - select effect</div>
    </div>

    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

        
    </div>
    </div>

    <div class="text-column">
        <h1 id="project-title">Mystic Matches</h1>
        <hr>

        <p><span id="highlighted-word"><strong>Role: </strong></span> Initial Solo Developer / Project Co-founder</p>
        <p><span id="highlighted-word"><strong>Description: </strong></span> Mystic Matches is a competitive matching card game that challenges players' focus and strategic thinking within a rich fantasy world. The core objective is to skillfully find and match sets of face-down cards, earning points that unlock a wide array of cosmetic upgrades. What began as a solo endeavor has since formed the foundation for a more expansive project, which is now in pre-production with a dedicated development partner. While we build a new working prototype for this larger vision, the original demo remains available to experience the core gameplay that started it all.</p>
        <ul>
        <li><span id="highlighted-word"><strong>Strategic Matching Gameplay: </strong></span> More than just a memory test, the game rewards strategic thinking and focus as you compete to find matches.</li>
        <li><span id="highlighted-word"><strong>Cosmetic Reward System: </strong></span> Earn points through skillful play to unlock new card skins, unique table settings, and captivating visual themes to customize your experience.</li>
        <li><span id="highlighted-word"><strong>Engaging Fantasy Setting:</strong> </span> The gameplay is set against the backdrop of a charming fantasy world that enhances the player experience.</li>
        <li><span id="highlighted-word"><strong>Playable Proof-of-Concept: </strong></span> The available demo allows you to play the original game and experience the core mechanics that inspired its ongoing evolution.</li>
        </ul>
        <p>As the initial solo developer, I was responsible for the entire creation of the original concept, from game design and C# programming to implementing the UI and reward systems. The potential demonstrated by this first version was instrumental in securing a development partnership. My role has since evolved to that of a Project Co-founder, and I am now actively helping to guide the vision and development of the expanded project.</p>



       <p>You can <span id="content-links"> <a id="highlighted-word" href="mystic-matches-demo.html">Play The Demo Here</a></span></p>
       
        
    </div>

</div>

{% endblock %}




