{% extends "base.html" %}

{% block title %} Projects {% endblock %}

{% block content %}
<div id="projects-header">
  <h1>Projects</h1>
</div>
{% for project in projects %}
<a href="{{project.pagePath}}">
<div id="project-container">
                  <div id="project-details">
                  <h2 id="project-title" data-value="{{project.name}}">{{project.name}}</h2>
                  <p>{{project.description}}</p>
                  {% for tool in project.tools %}
                  <span id="project-tool">{{tool}}</span>
                  {% endfor %}
                  </div>
                </div>

</a>
                
                {% endfor %}
{% endblock %}
