{% extends "base.html" %}

{% block title %} Velocity VR {% endblock %}

{% block content %}
<div></div>
<div id="project-text">
    <h1>Velocity VR</h1>
    <p>Mystic Matches is a competitive matching card game with a fantasy theme. Players must match sets of face down cards to earn points, points which are then used to unlock new card skins, table settings, themes, and much more! </p>
    <p>Inspired by the card game "Memory", I started to develop this as a fun solo project but has since evolved into the basis for another, much larger project I'm undertaking with another developer. Currently this larger project, under the same name, is in the pre-production phase and I hope to have  working prototype very shortly. </p>
    <p>For now, the demo version of Mystic Matches is available to</p>
</div>

{% endblock %}